@media screen and (max-width: 500px) {
  .card{
    width:33%;
  }
}

html, body {
  margin: 0px;
  padding: 0;


  font-family: 'Helvetica';
  /* font-weight: 100; */
  color: orangered;

  background-color: #f6f6f6;
}

canvas {
  display: block;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
}

.card{

  /* margin: auto; */
  /* margin-right: 0.5px; */

  /* width: 180px;
  height: 320px; */

  background-color: black;

  /* border: 1px solid white; */

  /* border: 0.5px solid rgba(255,255,255,0.2); */
  /* background-color: grey; */
  /* margin: 4px; */
}

.title{
  font-size: 32px;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 0;
}

#title{
  /* color: orangered; */
}

#title1{
  /* color: rgba(255,255,255,0 */
  opacity: 0.5;
}

.oneCard{
  width: 100%;
}